h2 { color: #444; font-weight: lighter; }
body{background:rgb(153,202,60) !important}
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
button { padding: 0.2em; font-size: 14px}
* { font-family: Arial; }
