h2 { color: #444; font-weight: lighter; }
body{background:rgb(153,202,60) !important}
body, input[text], button { color: #888; font-family: Cambria, Georgia; }
button { padding: 0.2em; font-size: 14px}
* { font-family: Arial; }
code {
    color: #fff;
    display: block;
    padding: 1em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.6;
    overflow: auto;
    background: #414347;
    margin-top: 10px;
    margin-bottom: 10px;
}