h1 {
 display: block;
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: 900;
    font-size: 7vw;
    line-height: 1;
    text-align: center;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
.poweredby{
 font-size: small;
    text-align: center;
    color: white;
}
img{
 
    height: 130px;
   
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

body{
  background: #d5e9f5;
}
