h1 {
 display: block;
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: 900;
    font-size: 7vw;
    line-height: 1;
    text-align: center;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
.appholder { margin: 2em;  }
.blogholder { margin-top: 180px;  }
.poweredby{
 font-size: small;
    text-align: center;
    color: white;
}
img{
 
    height: 130px;
}


body{
  background: #d5e9f5;
}
.fixedheader{
  position: fixed;
  width: 95%;
}