<div>
    <div class="blogposts">
    <div class="well" *ngFor="#blogpost of blogposts" >
      <button class='btn ' [class.selected]="blogpost === selectedBlogPost" 
      (click)="gotoDetail(blogpost.id)">  <i class='glyphicon glyphicon-pencil'></i></button>
       
      
      <h2>{{blogpost.title}}</h2>
      <p class="">{{blogpost.post}}</p> {{blogpost.name}}
      
      <div class="username">{{blogpost.fname}} {{blogpost.lname}}</div>
      <div class="date">{{blogpost.date}}</div>
    </div>
    </div>
</div>