
textarea{
    height: 300px;
}
.well{
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 0;
}

.editholder{
    margin-top: 180px;
}

.buttonholder{
    float: right;
}


